# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

version: 2
updates:
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 20
    labels:
      - "github_actions"
      - "run release CIs"
