# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Test Lemonade for OGA on CPU

on:
  push:
    branches: ["main"]
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  make-oga-cpu-lemonade:
    env:
        LEMONADE_CI_MODE: "True"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Miniconda with 64-bit Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: lemon
          python-version: "3.10"
          run-post: "false"
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          conda install pylint
          python -m pip check
          pip install -e .[llm-oga-cpu]
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
      - name: Lint with PyLint
        shell: bash -el {0}
        run: |
          pylint src/lemonade --rcfile .pylintrc --disable E0401
      - name: Run lemonade tests
        shell: bash -el {0}
        env:
          HF_TOKEN: "${{ secrets.HUGGINGFACE_ACCESS_TOKEN }}" # Required by OGA model_builder in OGA 0.4.0 but not future versions
        run: |
          # Test CLI
          lemonade -i TinyPixel/small-llama2 oga-load --device cpu --dtype int4 llm-prompt -p "tell me a story" --max-new-tokens 5

          # Test low-level APIs
          python test/lemonade/oga_cpu_api.py

          # Test high-level APIs
          python examples/lemonade/api_oga_cpu.py
          python examples/lemonade/api_oga_cpu_streaming.py

