# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Test Lemonade with Quark Quantization

on:
  push:
    branches: ["main"]
  pull_request:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  make-quark-lemonade:
    env:
        LEMONADE_CI_MODE: "True"
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Miniconda with 64-bit Python
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          activate-environment: lemon
          python-version: "3.10"
          run-post: "false"
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          conda install pylint
          python -m pip check
          pip install -e .[llm-oga-cpu]
          lemonade-install --quark 0.6.0
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
      - name: Lint with PyLint
        shell: bash -el {0}
        run: |
          pylint src/lemonade/tools/quark --rcfile .pylintrc --disable E0401 
      - name: Run lemonade tests
        shell: bash -el {0}
        env:
          HF_TOKEN: "${{ secrets.HUGGINGFACE_ACCESS_TOKEN }}" # Required by OGA model_builder in OGA 0.4.0 but not future versions
        run: |
          python test/lemonade/quark_api.py

